<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="MsSqlConnectionString" connectionString="Data Source=localhost;Initial Catalog=Chinook; User ID=genUser; Password=P#ss4word;" providerName="System.Data.SqlClient" />
    <add name="MsSqlWinAuthConnectionString" connectionString="Data Source=localhost; Initial Catalog=Chinook;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="SqliteConnectionString" connectionString="Data Source=Data\Chinook_Sqlite_AutoIncrementPKs.sqlite;Version=3;" providerName="System.Data.SQLite" />
    <add name="MySqlConnectionString" connectionString="server=127.0.0.1;port=3306;user id=root; password=toor; database=hotel" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString2" connectionString="server=127.0.0.1;port=3306;database=Sakila;user id=root;password=password#1" providerName="MySql.Data.MySqlClient" />
    <add name="MySqlConnectionString3" connectionString="server=127.0.0.1;port=3306;database=World;user id=root;password=password#1" providerName="MySql.Data.MySqlClient" />
    <add name="PostgreSqlConnectionString" connectionString="Server=127.0.0.1;port=5432;Database=Chinook;User Id=postgres;Password=password#1;" providerName="Npgsql" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>